<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <servers>
      <server>
         <id>bytenovus--code-repo-maven-SNAPSHOT</id>
         <username>aws</username>
         <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
      </server>
   </servers>
   <pluginGroups />
   <proxies />
   <mirrors>
      <mirror>
         <id>bytenovus--code-repo-maven-SNAPSHOT</id>
         <name>bytenovus--code-repo-maven-SNAPSHOT</name>
         <url>https://bytenovus-130738026255.d.codeartifact.us-east-1.amazonaws.com/maven/code-repo-maven-SNAPSHOT/</url>
         <mirrorOf>*</mirrorOf>
      </mirror>
   </mirrors>
   <profiles>
      <profile>
         <id>bytenovus--code-repo-maven-SNAPSHOT</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>bytenovus--code-repo-maven-SNAPSHOT</id>
               <url>https://bytenovus-130738026255.d.codeartifact.us-east-1.amazonaws.com/maven/code-repo-maven-SNAPSHOT/</url>
            </repository>
         </repositories>
      </profile>
   </profiles>
</settings>